<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this seed from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-message">
    Note: If the OAI implementation for this seed uses sets, enter one set at a time (one set per OAI seed).
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <div class="field-tip">
      Note: not for end user display
    </div>
  </div>
    
  <div class="field">
    <%= f.label :endpoint_url %><br>
    <%= f.text_field :endpoint_url %>
  </div>
  <div class="field">
    <%= f.label :set %><br>
    <%= f.text_field :set %>
  </div>
  <div class="field">
    <%= f.label :collection_name %><br>
    <%= f.text_field :collection_name %>
    <div class="field-tip">
      Note: For end user display
    </div>
  </div>
    
  <div class="field">
    <%= f.label :contributing_institution %><br>
    <%= f.collection_select :contributing_institution, Provider.unique_by_contributing_institution, :contributing_institution, :contributing_institution, :prompt => "Please select one from this list or enter below" %>
    <div class="field-tip">
      Note: For end user display
    </div>
  </div>

  <div class="field">
    <%= f.label :new_contributing_institution %><br>
    <%= f.text_field :new_contributing_institution %>
    <div class="field-tip">
      If not in the list above
    </div>
  </div>

  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :email %>
    <div class="field-tip">
      Note: note about email
    </div>
  </div>
  <div class="field">
    <%= f.label :in_production %><br>
    <%= f.select :in_production, [['No', 'No'], ['Yes', 'Yes']] %>
    <div class="field-tip">
      Note: Is this seed featured in the production aggregator?
    </div>
  </div>
  <div class="actions">
    <%= f.submit ( f.object.new_record? ? "Create OAI Seed" : "Update OAI Seed") %>
  </div>
<% end %>
