<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this seed from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-message">
    Note: If the OAI implementation for this seed uses sets, enter one set at a time (one set per OAI seed).
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <div class="field-tip">
      Note: not for end user display
    </div>
  </div>

  <div class="field">
    <%= f.label :endpoint_url %><br>
    <%= f.collection_select :endpoint_url, Provider.unique_by_endpoint_url, :endpoint_url, :endpoint_url, :prompt => "Please select one from this list or enter below" %>
  </div>

  <div class="field">
    <%= f.label :new_endpoint_url %><br>
    <%= f.text_field :new_endpoint_url %>
  </div>

  <div class="field">
    <%= f.label :metadata_prefix %><br>
    <%= f.select :metadata_prefix, [['oai_dc', 'oai_dc'], ['oai_qdc', 'oai_qdc']] %>
  </div>

  <div class="field">
    <%= f.label :set %><br>
    <%= f.text_field :set %>
  </div>
  <div class="field">
    <%= f.label :collection_name %><br>
    <%= f.text_field :collection_name %>
    <div class="field-tip">
      Note: For end user display
    </div>
  </div>

  <div class="field">
    <%= f.label :contributing_institution %><br>
    <%= f.collection_select :contributing_institution, Provider.unique_by_contributing_institution, :contributing_institution, :contributing_institution, :prompt => "Please select one from this list or enter below", :include_blank => true%>
    <div class="field-tip">
      Note: For end user display
    </div>
  </div>

  <div class="field">
    <%= f.label :contributing_institution_dc_field %><br>
    <%= f.select :contributing_institution_dc_field, Provider.possible_ci_fields, :prompt => "Please select one if applicable...", :include_blank => true %>
    <div class="field-tip">
      Note: Please select the metadata field (first occurrence per record only) to which the Contributing Institution maps (if the Contributing Institution is mapped this way).
    </div>
  </div>

  <div class="field">
    <%= f.label :new_contributing_institution %><br>
    <%= f.text_field :new_contributing_institution %>
    <div class="field-tip">
      If not in the list above, or mapped to a specific field
    </div>
  </div>

  <div class="field">
    <%= f.label :intermediate_provider %><br>
    <%= f.collection_select :intermediate_provider, Provider.unique_by_intermediate_provider, :intermediate_provider, :intermediate_provider, :prompt => "Please select one from this list or enter below", :include_blank => true %>
    <div class="field-tip">
      Note: For end user display
    </div>
  </div>

  <div class="field">
    <%= f.label :new_intermediate_provider %><br>
    <%= f.text_field :new_intermediate_provider %>
    <div class="field-tip">
      If not in the list above
    </div>
  </div>

  <div class="field">
    <%= f.label :provider_id_prefix %><br>
    <%= f.collection_select :provider_id_prefix, Provider.unique_by_provider_id_prefix, :provider_id_prefix, :provider_id_prefix, :prompt => "Please select one from this list or enter below", :include_blank => true%>
    <div class="field-tip">
      Note: For use in creating the unique identifier URL for this object -- this should reflect the contributing institution and (if no set spec is provided by the seed), the collection or set and should be 1 - 8 characters long.
    </div>
  </div>

  <div class="field">
    <%= f.label :new_provider_id_prefix %><br>
    <%= f.text_field :new_provider_id_prefix %>
    <div class="field-tip">
      If not in the list above
    </div>
  </div>

  <div class="field">
    <%= f.label :identifier_pattern %><br>
    <%= f.text_field :identifier_pattern %>
    <div class="field-tip">
      Note: URL pattern (with up to one token) for retrieving the identifier link for each record.<br />
      Example: http://repository.org/oai/records/$1
    </div>
  </div>

  <div class="field">
    <%= f.label :identifier_token %><br>
    <%= f.select :identifier_token, Provider.possible_identifier_fields, :prompt => "Please select one...", :include_blank => true %>
    <div class="field-tip">
      Note: Please select the metadata field (first occurrence per record only) to which the first token maps (if one is present in your identifier pattern).
    </div>
  </div>

  <div class="field">
    <%= f.label :rights_statement %><br>
    <%= f.text_area :rights_statement %>
    <div class="field-tip">
      If no rights statement exists, or if this rights statement should supersede the rights statement that exists for the object
    </div>
  </div>

 <div class="field">
    <%= f.label :email %><br>
    <%= f.collection_select :email, Provider.unique_by_email, :email, :email, :prompt => "Please select one from this list or enter below", :include_blank => true%>
    <div class="field-tip">
      Note: Contact information for OAI seed
    </div>
  </div>

  <div class="field">
    <%= f.label :new_email %><br>
    <%= f.text_field :new_email %>
    <div class="field-tip">
      If not in the list above
    </div>
  </div>

  <div class="field">
    <%= f.label :in_production %><br>
    <%= f.select :in_production, [['No', 'No'], ['Yes', 'Yes']] %>
    <div class="field-tip">
      Note: Is this seed featured in the production aggregator?
    </div>
  </div>

<%= field_set_tag 'Thumbnail Retrieval Details' do %>

  <div class="field">
    <%= f.label :common_repository_type%><br>
    <%= f.select :common_repository_type, Provider.common_repositories, :prompt => "Please select one from this list if applicable", :include_blank => true%>
    <div class="field-tip">
      Note: if you use one of these systems but have modified it outside of the standard installation, the standard method for thumbnail retrieval may not work.
    </div>
  </div>

  <div class="field">
    <%= f.label :source_scale%><br>
    <%= f.select :source_scale, Provider.source_scale_selections, :prompt => "Please specify if applicable", :include_blank => true%>
    <div class="field-tip">
      Currently in beta for CONTENTdm and CONTENTdm SSL only
    </div>
  </div>

  <div class="field">
    <%= f.label :thumbnail_pattern %><br>
    <%= f.text_field :thumbnail_pattern %>
    <div class="field-tip">
      Note: URL pattern (with up to two tokens) for retrieving the thumbnail for each record.<br />
      Example: http://repository.org/oai/$1/thumbnails/$2.jpg
    </div>
  </div>

  <div class="field">
    <%= f.label :thumbnail_token_1 %><br>
    <%= f.select :thumbnail_token_1, Provider.possible_thumbnail_fields, :prompt => "Please select one...", :include_blank => true %>
    <div class="field-tip">
      Note: Please select the metadata field (first occurrence per record only) to which the first token maps (if one is present in your thumbnail retrieval pattern).
    </div>
  </div>

  <div class="field">
    <%= f.label :thumbnail_token_2 %><br>
    <%= f.select :thumbnail_token_2, Provider.possible_thumbnail_fields, :prompt => "Please select one...", :include_blank => true%>
    <div class="field-tip">
      Note: Please select the metadata field (first occurrence per record only) to which the second token maps (if one is present in your thumbnail retrieval pattern).
    </div>
  </div>

  <div class="field-tip">
    <%= t('dpla.thumbnail_warning') %>
  </div>
  <% end %>
  <%= field_set_tag 'Type Mapping Details' do %>

  <div class="field">
    <%= f.label "Type: Image" %><br>
    <%= f.text_area :type_image %>
    <div class="field-tip">
      Note: Comma-separated values, example: <br />
      Photo; Still Image; Photograph;
    </div>
  </div>

  <div class="field">
    <%= f.label "Type: Text" %><br>
    <%= f.text_area :type_text %>
    <div class="field-tip">
      Note: Comma-separated values, example: <br />
      Photo; Still Image; Photograph;
    </div>
  </div>

  <div class="field">
    <%= f.label "Type: Sound" %><br>
    <%= f.text_area :type_sound %>
    <div class="field-tip">
      Note: Comma-separated values, example: <br />
      Photo; Still Image; Photograph;
    </div>
  </div>

  <div class="field">
    <%= f.label "Type: Moving Image" %><br>
    <%= f.text_area :type_moving_image %>
    <div class="field-tip">
      Note: Comma-separated values, example: <br />
      Photo; Still Image; Photograph;
    </div>
  </div>

  <div class="field">
    <%= f.label "Type: Physical Object" %><br>
    <%= f.text_area :type_physical_object %>
    <div class="field-tip">
      Note: Comma-separated values, example: <br />
      Photo; Still Image; Photograph;
    </div>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit ( f.object.new_record? ? "Create OAI Seed" : "Update OAI Seed") %>
  </div>
<% end %>
