<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :endpoint_url %><br>
    <%= f.text_field :endpoint_url %>
  </div>
  <div class="field">
    <%= f.label :metadata_prefix %><br>
    <%= f.text_field :metadata_prefix %>
  </div>
  <div class="field">
    <%= f.label :set %><br>
    <%= f.text_field :set %>
  </div>
  <div class="field">
    <%= f.label :contributing_institution %><br>
    <%= f.text_field :contributing_institution %>
  </div>
  <div class="field">
    <%= f.label :collection_name %><br>
    <%= f.text_field :collection_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
