<h1>Listing OAI seeds</h1>

<table class="oai-seeds">
  <thead>
    <tr>
      <th>Name</th>
      <th>Base url</th>
      <th>Set</th>
      <th>Collection Name</th>
      <th>Contribution Institution</th>
      <th colspan="5">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name %></td>
        <td><%= auto_link(provider.endpoint_url) %></td>
        <td><%= provider.set %></td>
        <td><%= provider.collection_name %></td>
        <td><%= provider.contributing_institution %></td>
        <td class="oai-actions"><%= link_to 'Harvest from OAI Source', harvest_provider_path(provider), method: :post, class: :hiddenHarvestField, data: { confirm: 'This may take a while for very large sets.  Are you sure?' } %></td>
        <td class="oai-actions"><%= link_to 'Remove from Aggregator Index', dump_and_reindex_provider_path(provider), method: :post, class: :hiddenDiscardField, data: { confirm: 'Are you sure?' } %></td>
        <td class="oai-actions"><%= link_to 'Show Seed', provider %></td>
        <td class="oai-actions"><%= link_to 'Edit Seed', edit_provider_path(provider) %></td>
        <td class="oai-actions"><%= link_to 'Delete Seed', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="loading hide">
Please wait...
</div>
<h2>Other Actions</h2>
<ul>
  <li><%= link_to 'Create new OAI seed', new_provider_path%></li>
  <li><%= link_to 'Harvest all OAI seeds', harvest_all_providers_path, method: :post  %></li>
  <li><%= link_to 'Remove all from Aggregator Index', dump_whole_index_path, method: :post  %></li>
</ul>
