<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Endpoint url:</strong>
  <%= @provider.endpoint_url %>
</p>

<p>
  <strong>Set:</strong>
  <%= @provider.set %>
</p>

<p>
  <strong>Collection Name:</strong>
  <%= @provider.collection_name %>
</p>

<p>
  <strong>Contributing Institution:</strong>
  <%= @provider.contributing_institution %>
</p>

<p>
  <strong>Provider ID Prefix:</strong>
  <%= @provider.provider_id_prefix %>
</p>

<p>
  <strong>In production?:</strong>
  <%= @provider.in_production %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
<div class="loading hide">
Please wait...
</div>
